git-tag-version = false

ignore-scripts = true
allow-git = root

# Matches 'security:minimumReleaseAgeNpm' Renovate preset
min-release-age = 3

# line below is not necessary in action repositories
workspaces = true
