name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '38 22 * * *'

jobs:
  shared:
    uses: ./.github/workflows/shared-ci.yml
    permissions:
      contents: read

  octokit-smoke-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.
