name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '38 22 * * *'

jobs:
  shared:
    uses: ./.github/workflows/shared-ci.yml
    permissions:
      contents: read

  octokit-smoke-test:
    runs-on: ubuntu-slim
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.
