name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '38 22 * * *'

jobs:
  shared:
    uses: ./.github/workflows/shared-ci.yml
    permissions:
      contents: read

  octokit-smoke-test:
    runs-on: ubuntu-slim
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.
