name: shared-tags

on:
  - workflow_call

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  update-tags:
    runs-on: ubuntu-slim
    steps:
      - id: parse
        run: |
          MINOR="$(echo "$TAG" | grep -oE '^v[0-9]+\.[0-9]+')"
          echo "minor=$MINOR" | tee -a "$GITHUB_OUTPUT"

          MAJOR="$(echo "$TAG" | grep -oE '^v[0-9]+')"
          echo "major=$MAJOR" | tee -a "$GITHUB_OUTPUT"

        env:
          TAG: ${{ github.ref_name }}

      - uses: amezin/create-or-update-git-ref-action@9c82c89a00ab473475437f4b496db14be1768dc2 # v2.0.0
        with:
          ref: refs/tags/${{ steps.parse.outputs.major }}

      - uses: amezin/create-or-update-git-ref-action@9c82c89a00ab473475437f4b496db14be1768dc2 # v2.0.0
        with:
          ref: refs/tags/${{ steps.parse.outputs.minor }}
