name: shared-tags

on:
  - workflow_call

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  update-tags:
    runs-on: ubuntu-slim
    steps:
      - id: parse
        run: |
          echo "minor=$(echo "$GITHUB_REF_NAME" | grep -oE '^v[0-9]+\.[0-9]+')" >>"$GITHUB_OUTPUT"
          echo "major=$(echo "$GITHUB_REF_NAME" | grep -oE '^v[0-9]+')" >>"$GITHUB_OUTPUT"

      - uses: amezin/create-or-update-git-ref-action@9c82c89a00ab473475437f4b496db14be1768dc2 # v2.0.0
        with:
          ref: refs/tags/${{ steps.parse.outputs.major }}

      - uses: amezin/create-or-update-git-ref-action@9c82c89a00ab473475437f4b496db14be1768dc2 # v2.0.0
        with:
          ref: refs/tags/${{ steps.parse.outputs.minor }}
