name: shared-dependency-review
on:
  workflow_call:
    inputs:
      allow-dependencies-licenses:
        type: string
        default: ''
        description: Extra dependencies to exclude from license check

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          comment-summary-in-pr: always
          allow-licenses: MIT, Apache-2.0, ISC, BSD-2-Clause, BSD-3-Clause, BlueOak-1.0.0
          allow-dependencies-licenses: >-
            pkg:actions/amezin/js-actions-common/.github/workflows/shared-ci.yml,
            pkg:actions/amezin/js-actions-common/.github/workflows/shared-codeql.yml,
            pkg:actions/amezin/js-actions-common/.github/workflows/shared-dependency-review.yml,
            pkg:actions/amezin/js-actions-common/.github/workflows/shared-tags.yml
            ${{ inputs.allow-dependencies-licenses && ',' || '' }}
            ${{ inputs.allow-dependencies-licenses }}
